.row{
    padding: 1px;
    background-color: #780C50 ;
}
footer{
    color:bisque;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px #999;

}