<div class="row">
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <img src="../../../assets/FotoPerfil.jpg" alt="Imagen de perfil"  class="img-fluid" id="fotoperfil">
        <h1 id="nombre">Gil Mariana Analia</h1>
        <p>Full Stack Developer Jr</p>  
    </div>
    <div class="col-xs-12 col-sm-9 col-sm-9 col-md-9 col-lg-9">
        <span>
            <h2> Acerca de mi</h2>
            <p class="text-justify">
                Hola, como estas? Espero que te encuentres muy bien y estoy muy agradecida de que estes aqui.
                Soy Desarrolladora Web Full Stack Jr. y quisiera invitarte a conocerme en detalle a traves de mi portofolio web. En el encontraras aspectos sobre mis experiencias laborales, mi educacion y mis habilidades de programacion con los distintos lenguajes.
                Mi portfolio web, es el proyecto integrador final de la segunda etapa denominado "YoPorgramo" de "Argentina Programa".
            </p>
            <p>No te olvides de visitar mis redes sociales!</p>
            <p class="text-center">Que lo disfrutes!</p> 
        </span>
    </div>
</div>