.row{
    padding: 5px;
    margin: 0rem;
}
div{
    background-color: #F8EBF6;
    text-align: center;
}
/*etiqueta fotoperfil estilo*/
@media (min-width: 576px){
    #fotoperfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px black;
        left: 3%;
        top: 500px;
    }
}
@media (max-width: 575px){
    #fotoperfil{
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px black;
        left: 30%;
        top: 135px;
    }
}

/*etiqueta nombree estilo*/
#nombre{
    font-weight: bold;
    margin-top: 10%;
    margin-left: 10px;
}