.row{
    padding: 65px;
    margin: 0rem;
}
div{
    background: #F8CFF6;
}

@media (min-width: 576px){
    #experiencialaboral{
        position: absolute;
        width: 15%;
        left: 20%;
        top: 830px;    
    }
}
@media (max-width: 575px){
    #experiencialaboral{
        position: absolute;
        width: 35%;
        left: 35%;
        top: 630px;      
    }
}
