<div class="row">
    <div class="col-sm-5 col-md-5 col-lg-4">
      <img src="../../../assets/Mis estudios.png" class="img-fluid" id="misestudios">
    </div>
    <div class="col-sm-5 col-md-5 col-lg-7"> 
        <ul>
            <li><h4>E.E.S.P.O.I N°3033 "Colegio Rosario"</h4>
                <h6>Año: 2005-2010 </h6>
            </li>
            <p>Egreso de la educacion secundaria bajo la modalidad Humanidades y Ciencias Sociales</p>
        </ul>
          <ul>
            <li><h4>Curso Mandatario del automotor</h4>
                <h6>Año: 2021</h6>
            </li>
            <p> Obtencion de matricula de mandataria del automotor</p>
        </ul>
        <ul>
            <li><h4>Cursando 4to ano en la facultad de Derecho-Universidad Nacional de Rosario</h4>
                <h6>Actualidad</h6>
            </li>
        </ul>
    </div>    
</div>