<div class="row">
    <div class="container">
        <div class="logoargp">
            <img src="../../../assets/logoargp.png" id="logoargp">
        </div>
        <div class="redessociales">
            <div>
                <a href=""><img src="../../../assets/LogoGitHub.png" id="github"></a>
                <a href=""><img src="../../../assets/LogoFacebook.png" id="facebook"></a>
                <a href=""><img src="../../../assets/LogoInstagram.png" id="instagran"></a>
                <button type="button" class="btn btn-outline-light" (click)="login()">INICIAR SESION</button>
            </div>
        </div>
    </div>
</div>
