.row{
    padding: 70px;
    margin: 0rem;
}
div{
    background: #D2ACD0;
}

@media (min-width: 576px){
    #misestudios{
        position: absolute;
        width: 15%;
        left: 19%;
        top: 1200px;    
    }
}
@media (max-width: 575px){
    #misestudios{
        position: absolute;
        width: 35%;
        left: 35%;
        top: 1170px;       
    }
}