.row{
    padding: 30px;
}
div{
    background: #F8CFF6;
}

@media (min-width: 576px){
    #experiencialaboral{
        position: absolute;
        width: 13%;
        left: 1%;
        top: 830px;    
    }
}
@media (max-width: 575px){
    #experiencialaboral{
        position: absolute;
        width: 20%;
        left: 40%;
        top: 770px;       
    }
}
