<div class="row">
    <div class="col-sm-5 col-md-5 col-lg-4">
      <img src="../../../assets/Experiencia laboral.png" class="img-fluid" id="experiencialaboral">
    </div>
    <div class="col-sm-5 col-md-5 col-lg-7"> 
        <ul>
            <li><h4>Operaria playa de estacionamiento</h4>
                <h6>Julio 2017 a Agosto 2019 </h6>
            </li>
            <p>Tarea desarrollada: atencion al publico; manejo de maquina para el control del horario de entrada y salida de los vehiculos; responsable de caja</p>
        </ul>
          <ul>
            <li><h4>Administrativa en estudio contable</h4>
                <h6>Noviembre 2021 a la actualidad</h6>
            </li>
            <p> Asesoramiento a clientes; organizacion mensual de vencimientos; generacion de declaraciones juradas mensuales; facturacion</p>
        </ul>
    </div>    
</div>