<div class="row">
    <h2 class=text-center>Hard & Soft skills</h2>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
  [percent]= " 85 " 
  [radius]= " 70 " 
  [title]= " 'HTML' "
  [titleFontSize]=" '1em' " 
  [showSubtitle]="false"
  [showUnits]="false"
  [outerStrokeWidth]= " 12 " 
  [innerStrokeWidth]= " 6 " 
  [outerStrokeColor]= " '#F548C7' " 
  [innerStrokeColor]= " '#FA81DA' " 
  [animation]= " true " 
  [animationDuration]= " 900 " 
></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
  [percent]= " 85 " 
  [radius]= " 70 " 
  [title]= " 'CSS' "
  [titleFontSize]=" '1em' " 
  [showSubtitle]="false"
  [showUnits]="false"
  [outerStrokeWidth]= " 12 " 
  [innerStrokeWidth]= " 6 " 
  [outerStrokeColor]= " '#F548C7' " 
  [innerStrokeColor]= " '#FA81DA' " 
  [animation]= " true " 
  [animationDuration]= " 900 " 
></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
  [percent]= " 85 " 
  [radius]= " 70 " 
  [title]= " 'JavaScript' "
  [titleFontSize]=" '1em' " 
  [showSubtitle]="false"
  [showUnits]="false"
  [outerStrokeWidth]= " 12 " 
  [innerStrokeWidth]= " 6 " 
  [outerStrokeColor]= " '#F548C7' " 
  [innerStrokeColor]= " '#FA81DA' " 
  [animation]= " true " 
  [animationDuration]= " 900 " 
></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
  [percent]= " 85 " 
  [radius]= " 70 " 
  [title]= " 'GitHub' "
  [titleFontSize]=" '1em' " 
  [showSubtitle]="false"
  [showUnits]="false"
  [outerStrokeWidth]= " 12 " 
  [innerStrokeWidth]= " 6 " 
  [outerStrokeColor]= " '#F548C7' " 
  [innerStrokeColor]= " '#FA81DA' " 
  [animation]= " true " 
  [animationDuration]= " 900 " 
></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
  [percent]= " 85 " 
  [radius]= " 70 " 
  [title]= " 'INGLES' "
  [titleFontSize]=" '1em' " 
  [showSubtitle]="false"
  [showUnits]="false"
  [outerStrokeWidth]= " 12 " 
  [innerStrokeWidth]= " 6 " 
  [outerStrokeColor]= " '#F548C7' " 
  [innerStrokeColor]= " '#FA81DA' " 
  [animation]= " true " 
  [animationDuration]= " 900 " 
></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
  [percent]= " 85 " 
  [radius]= " 70 " 
  [title]= " 'Trabajo grupal' "
  [titleFontSize]=" '1em' " 
  [showSubtitle]="false"
  [showUnits]="false"
  [outerStrokeWidth]= " 12 " 
  [innerStrokeWidth]= " 6 " 
  [outerStrokeColor]= " '#F548C7' " 
  [innerStrokeColor]= " '#FA81DA' " 
  [animation]= " true " 
  [animationDuration]= " 900 " 
></circle-progress>
    </div>
</div>
